/*oefening 1 */

.em2 { 
    height: 100%;
    background-color: #D68DEE;
    text-align: center;
    border: solid 2px black;
    border-radius: 4px;
}

/*oefening 2 */

.em1 {
    height: 100%;
    background-color: #D68DEE;
    text-align: center;
    border: solid 2px black;
    border-radius: 4px;
}

/*oefening 3 */

.em3 {
    height: 100%;
    background-color: #D68DEE;
    text-align: center;
    border: solid 2px black;
    border-radius: 4px; 
}

/*oefening 4 */

.em4 {
    height: 100%;
    background-color: #D68DEE;
    text-align: center;
    border: solid 2px black;
    border-radius: 4px; 
}

/*oefening 5 */

.em5 {
    text-align: center;
    border: solid 2px black;  
}
